<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>layout</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body class="container_body">

  <header class="container_header">

    <img src="/crm_banner.png" alt="">

    <nav class="container_nav">
      <!-- Throw horizontal top nav bar here -->
    </nav>

  </header>

  <section class="container_section">
    <%= yield %>
  </section>

  <aside class="container_aside">
#put in the side nav bar
  </aside>

  <footer class="container_footer">

    <p>Nick Budhwani Bitmaker Labs CRM-Web-Assignment</p>

  </footer>

</body>
</html>
