<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>layout</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
  <!-- Throw logo in here. Maybe a banner -->
    <nav>
      <!-- Throw horizontal top nav bar here -->
    </nav>

  </header>

  <section>
    <%= yield %>
  </section>

  <footer>
    <!-- Random footer content -->
  </footer>

</body>
</html>
